.input:focus {
    border: 1px solid #000;
}

.input {
    width: 250px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid #F00;
}

.errorInput:focus {
    border: 1px solid #F00;
}

.error {
    display: block;
    color: #F00;
    font-size: 12px;
}
