.sendForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.textarea {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: #f0f8ff;
    font-size: 1.4rem;
    color: black;
    line-height: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    resize: none;
}
.textarea::placeholder {
    color: #141414;
}

.button {
    width: 100%;
    max-width: 120px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    line-height: 20px;
    background-color: #0066cc;
    transition: all .5s ease-in;
}

.button:hover {
    cursor: pointer;
    opacity: .7;
}
.button:active {
    opacity: .5;
    color: #000;
    border-color: #d3d3d3;
    background-color: #d3d3d3;
}
